@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family:'Noto Sans JP', sans-serif;
  overflow-y: hidden; /* Hide scrollbars */
}

* {
  box-sizing: border-box;
}
.elements {
  animation: fadedown 1s ease-in-out;
}

@keyframes fadedown{
  0%{
    opacity: 0;
    transform: translateY(-20px);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}