
.footer{
    opacity: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    padding-bottom: 2%;
    animation: fadeup 1.2s ease-in-out forwards;
    animation-delay: 1.5s;
 }
.icon{ 
    padding-right: 20px;
    color:darkgray;
    opacity: 0.6;
}
.icon:hover{
    color: black;
    opacity: 1;
}

@keyframes fadeup{
    0%{
      opacity: 0;
      transform: translateY(20px);
    }
    100%{
      opacity: 1;
      transform: translateY(0);
    }
  }