
.footer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    padding-bottom: 2%;
 }
.icon{ 
    padding-right: 20px;
    color:darkgray;
    opacity: 0.6;
}

.icon:hover{
    color: black;
    opacity: 1;
}