.text{
    font-size: 1.25rem;
    float: right;
    padding: 5%;
    text-align: center;
}
.container{
    display: fixed;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
.block {
    background-color: #202226;
    color: whitesmoke; 
    width: 800px;
    display:grid;
    grid-auto-columns: 1fr 2fr;
    grid-auto-flow: column;
    box-shadow: 5px 6px 20px 0px #27295659;
    opacity: 0;
}